<!-- Accenture Footer -->
<div class="footer-section">
    <div class="accenture-chevron">></div>
    <div class="copyright">
        Copyright © 2025 Accenture, All rights reserved.
    </div>
</div>